body {
    background-image: url('../temp/abr.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
  }

  h1{
    color: rgb(233, 243, 243);
  }

  #imprimirUsuariosButton {
    background-color: #bc8d1e; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Eliminar borde */
    padding: 10px 20px; /* Espaciado interno (padding) */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    font-size: 16px; /* Tamaño de fuente */
  }
  
  #miBoton:hover {
    background-color: #0056b3; /* Cambiar el color de fondo al pasar el cursor por encima */
  }
  